<a href="/">Back to index</a>
<h1><%= @member.name %></h1>
<p>
  Website: <%= link_to @member.website_url, @member.website_url %>
</p>
<% if @member.short_url? %>
<p>
  Short URL: <%= link_to @member.short_url, @member.short_url %>
</p>
<% end %>

<h2>Topics</h2>
<ul>
<% @member.topics.each do |topic| %>
  <li><%= topic %></li>
<% end %>
</ul>
